/*
    Created on : 12/02/2016, 03:19:39 PM
    Author     : cesar
*/

.ventana {
	  background-color: #F8F8F8;
	  position:fixed;
	  top: 50%;
	  left: 50%;	
	  display: none;  
	  padding:0px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	  -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	  text-align:center;
	  color:#000;
	  opacity: 10;
	  -moz-opacity:10;
	  -webkit-opacity:10;
	  -o-opacity:10;
	  -ms-opacity:10;
	  z-index: 2000;
	}	